@import url(https://fonts.googleapis.com/ css2?family=chakra+petch:wght@400;700&display=swao');
:root{
-cor de fundo:#1E1E1E;
-verde#6FFF57;
-BRANCO:#FFFFFF;
-BOTAO-ATIVO:#3A375E;
-BOTAO-INATIVO:rgba
}